.subtitle {
  color: var(--ion-color-medium);
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.5;
}

ion-note {
  display: block;
  padding: 4px 16px;
  font-size: 12px;
}

.error-msg {
  display: block;
  padding: 8px 16px;
}
